.App {
  text-align: center;
}

.App-header {
  background-color: #f4f4f4;
  height: 120px;
  padding: 20px;
  color: white;
  display: flex;
}

.Logo {
  flex: 1;
}

.SearchBox{
  flex: 5;
  padding-top: 30px;
  text-align: left;
}