.App {
  text-align: center;
  min-width: 1370px;
}

.App-header {
  background-color: #f4f4f4;
  height: 120px;
  padding: 20px;
  color: white;
  display: flex;
}

.Logo {
  flex: 1;
}

.SearchBox{
  flex: 5;
  display: flex;
  margin-top: 40px;
}

.searchBtn {
  width: 5em;
  background-color: #a94d25;
  height: 34px;
  margin-left: 3px;
}

.headerRightColumn {
  flex: 1;
}