.ProductPage{
  display: flex;
}

.ProductPage-Left{
  flex: 1;
}

.ProductPage-Mid{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
/*  border: 1px solid #999;*/
  height: 400px;
}

.ProductPage-Right{
  flex: 1;
}

.DropPicBox{
  flex: 1;
  width: 100%;
}

.PicBox{
  width: 100%;
}