
.leftFilterShow {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 300px;
  background-color: #FFE3C8;
  height: 7em;
  width: 50%;
  left: -10px;
  z-index: 500;
}


.leftFilterHide {
  position: absolute;
  top: 300px;
  background-color: #FFE3C8;
  height: 7em;
  width: 50%;
  left: 280px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 500;
};


.Product_Left{
  -webkit-transition: width 0.6s; /* Safari */
  transition: width 0.6s;
  flex: 0 0 25%;
  border: 0px;
  box-sizing: border-box;
  background: white;
  /*border: 1px solid #999;*/
  height: 200px;
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  padding-left:0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom: 0px;

}

.ProductPage-Left ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.ImageGrid_Left{
  -webkit-transition: width 0.6s; /* Safari */
  transition: width 0.6s;
  align: top;
  height:100%;
  width: 100%;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ProductPage{
  display: flex;
}

.ProductPage-Left{
  flex: 1;
  position: relative;
}

.ProductPage-Mid-Right{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.NewProductPage{
  display: flex;
}

.NewProductPage-Mid {
  flex: 3;
}

.NewProductPage-Right{
  flex: 1;
}

.cubeDiv {
  zoom: 40%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.DropPicBox{
  display: flex;
  text-align: center;
  position: relative;
  padding: 25px;
  margin: 25px;
}

.DropZone {
  flex: 1;
  background-color: #EEE;
  border: 2px dashed grey;
  position: relative;
  height: 570px;
  overflow: hidden;
}

.DropZone:hover {
  cursor: pointer;
  background-color: #DDD;
}

.HotSpotZone {
  flex: 1;
  background-color: #EEE;
  position: relative;
  height: 570px;
  overflow: hidden;
}

.HotSpotZone:hover {
  cursor: pointer;
  cursor: url('images/cursor.png'), auto; 
}

.ImgZone {
  flex: 1;
  position: relative;
  border: 2px solid grey;
  height: 570px;
  overflow: hidden;
}

.HotSpot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  animation: HotSpotBlink 1s infinite; /* IE 10+, Fx 29+ */
}

.HotSpotImg {
  width: 100%;
}

@-webkit-keyframes HotSpotBlink {
  0%, 49% {
      background-color: black;
      border: 3px solid #e50000;
  }
  50%, 100% {
      background-color: grey;
      border: 3px solid rgb(117,209,63);
  }
}

.PicBox{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.plusSign {
  font-size: 5em;
  line-height: 0;
  position: relative;
  top: 50%;
  color: #999
}

.arrowLeft, .arrowUp, .arrowRight, .arrowDown {
  color: #999;
  font-size: 40px; 
  position: absolute;
}

.arrowLeft:hover, .arrowUp:hover, .arrowRight:hover, .arrowDown:hover {
  color: #333;
  cursor: pointer;
}

.arrowLeft {
  left: -20px;
  top: 47%;
}

.arrowUp {
  left: 47%;
  top: -30px;
}

.arrowRight {
  right: -20px;
  top: 47%;
}

.arrowDown {
  bottom: -30px;
  left: 47%;
}

.hotspotButtonDiv{
  flex: 1;
}

.submitButtonDiv{
  position: absolute;
  right: 0;
}

.productNameRow {
  display: flex;
  margin-top: 10px;
}

.productName, .productNameInput {
  flex: 5;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  margin: 4px;
}

.productName {
  height: 46px;
  line-height: 24px;
  border: 1px solid transparent;
}

.priceLabel, .price, .priceInput {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin: auto;
}

.price, .priceInput {
  flex: 1;
  width: 100px;
  text-align: right;
}

.price {
  border: 1px solid transparent;
}

.dataBox {
  padding: 10px;
  margin-right: 30px;
  width: 100%
}

.thumbnail {
  flex: 2;
}

.continentLabel, .genderDistributionLabel {
  color: black;
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
}

.genderDistributionLabel {
  margin-top:35px;
  position: absolute;
}

.genderDistributionChart {
  margin-top:65px;
  margin-left:30px;
  width:250px;
  float:left;
}

.genderDistributionValues {
  margin-top:150px;
  text-align: center;
  margin-left: 20px;
  float:left;

}

.priceLabel {
  padding-right: 0.5em;
}

.priceInput {
  width: 6em;
}

.continentLabel {
  margin-top:20px;
  margin-bottom: 15px;
}

input.currency {
  text-align: right;
}

.input-group .input-buttons {
  position: relative;
  z-index: 3;
}

.descriptionDiv {
  margin-top: 10px;
  padding-top: 20px;
}

.descriptionInput {
  resize: none;
}

.continentDiv {

}

.continentMap {
  width: "672px"; 
  height: "315px";
}

.okButtonDiv {
  flex: 2;
  text-align: center;
  padding: 10px;
}

.submitBtn {
  width: 100px;
}

.hotspotBtn {
  width: 180px;
  margin-right: 20px;
}

.reviews, .buttons {
  position: relative;
  margin-top: 15px;
}

.reviews {
  min-height: 400px;
}

.reviewTabs {
  display: flex;
}

.reviewTab {
  flex: 1;
  text-align: center
}

.reviewBtn {
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  margin: auto;
  padding: 1px;
  width: 80%;
  color: #E88540;
  font-size: 1.0em;
  margin: 5px;
}

.reviewBtn.reviewBtnClicked {
  background-color: #FFDEC3;
}

.reviewBtn:hover, .reviewBtn:focus, .reviewBtn:active{
  background-color: #FFDEC3;
  color: #E88540;
}

.reviewText {
  border: 1px solid #666;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 95%;
  text-align: left;
}

.cubeimg {
  max-height: 100%;
  width: auto;
  position: center;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300; }

#wrapper {
  padding-top: 5%; }

.viewport {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  -ms-perspective-origin: 50% 200px;
  -o-perspective-origin: 50% 200px;
  perspective-origin: 50% 200px;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
/*  -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1))); */
}

.cube {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(145deg) rotateY(1102deg);
  -moz-transform: rotateX(145deg) rotateY(1102deg);
  -ms-transform: rotateX(145deg) rotateY(1102deg);
  -o-transform: rotateX(145deg) rotateY(1102deg);
  transform: rotateX(145deg) rotateY(1102deg); }

.cube > div {
  overflow: hidden;
  position: absolute;
  opacity: 0.9;
  height: 200px;
  width: 200px;
  background-image: url("http://jordizle.com/demo/376/3d-interactive-cube-with-rotating-sides-using-css3-and-javascript/assets/img/cube/blank.png");
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.cube > div > div.cube-image {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 200px;
  font-size: 80px;
  text-align: center;
  color: #1b9bd8;
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms; }
  .cube > div > div.cube-image.active {
    color: red; }

/*
.cube > div:hover {
  cursor: pointer; }

.cube > div:active {
  cursor: pointer; }
*/

.cube > div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
  outline: 1px solid transparent; }

.cube > div:nth-child(2) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
  outline: 1px solid transparent; }

.cube > div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
  outline: 1px solid transparent; }

.cube > div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -ms-transform: rotateY(180deg) translateZ(100px);
  -o-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
  outline: 1px solid transparent; }

.cube > div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
  outline: 1px solid transparent; }

.cube > div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  outline: 1px solid transparent; }

object {
  opacity: 0.5; }

object:hover {
  opacity: 1; }

@media (max-width: 640px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); } }


.WhiteColumn{
  top:0px;
  position: absolute;
  height: 100%;
  opacity: 0.7;
  width: 170px;
  background-color: white;
  z-index:2;
}


.filterContainer{
  position: absolute;
  width:100%;
  height:100%;
  background-color: white;
}

.Original{
      position: absolute;
      height: 180px;
      width: 100%;
      z-index:4;
    }


.Filter1{
      position: absolute;
      top: 180px;
      height: 180px;
      width: 100%;
      z-index:4;
    }

.Filter2{
      position: absolute;
      top: 360px;
      height: 180px;
      width: 100%;
      z-index:4;
    }

.Filter3{
      position: absolute;
      top: 540px;
      height: 180px;
      width: 100%;
      z-index:4;
    }

.Original:hover, .Filter1:hover, .Filter2:hover, .Filter3:hover{
  cursor: pointer;
}

.DoneFilter{
      position: absolute;
      left: 0px;
      top: 725px;
      height: 40px;
      width: 100%;
      background-color: #cc2900;
      z-index:4;
      text-align: center;
      vertical-align: middle;
      color: white;
}

.PicBoxGrayscale{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: grayscale(100%);
}


.PicBoxBrightness{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: brightness(3);
}

.PicBoxSepia{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: sepia(100%);
}


/* General styles for all menus */

.cbp-spmenu {
  background: #ff974f;
  position: fixed;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #ad3f00;
}

.cbp-spmenu a:active {
  background: #ffb682;
  color: #da8b47;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-left {
  left: -280px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}


.cbp-spmenu-vertical {
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #cd6524;
  padding: 1em;
}


/* Transitions */

.cbp-spmenu {
  overflow-y:auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.leftStore {
  position: relative;
  top: 0px;
  background-color: #D3D3D3;
  height:100%;
  width:100%;
}


.leftViewTabHide {
  position: absolute;
  top: 100px;
  background-color: #FFE3C8;
  height: 7em;
  width: 50%;
  left: 280px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 500;

}

.leftViewTabShow {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 100px;
  background-color: #FFE3C8;
  height: 7em;
  width: 50%;
  left: -10px;
  z-index: 500;

};


.storeIcon {
  position: absolute;
  left: 20%;
};


.leftViewTabHide:hover {
  background-color: #FFCE9F;
  cursor: pointer;
};

.leftViewTabShow:hover {
  background-color: #FFCE9F;
  cursor: pointer;
  left:0px;
}



.leftViewText {
  position: absolute;
  top: 85%;
  line-height: 0;
  color: #555;
  left: 20%;
}


.StoreLogo{
  height: 50px;
  width: 50px;
};



.goHome a{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  background: #ff974f;
  height: 5em;
  width: 100%;
  left: 0px;
  z-index: 500;
  font-size: 14px;
};


.goHome a:hover {
  background: #ad3f00;
};

.goHome a:active {
  background: #ffb682;
  color: #da8b47;
};


.PicBoxGrayscaleSamePos{
  filter: grayscale(100%);
};

.PicBoxBrightnessSamePos{
  filter: brightness(3);
};

.PicBoxSepiaSamePos{
  filter: sepia(100%);
};


.heatMap{
  position: absolute;
  width: 100%;
  height: 100%;
};


.layoutFilter {
  position: absolute;
  height:100%;
  width:100%;
  left: 0px;
  right:0px;
  background-color: red;
};

.layoutStore {
  position: absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}


.leftFilterHide:hover {
  background-color: #FFCE9F;
  cursor: pointer;
}

.leftFilterShow:hover {
  background-color: #FFCE9F;
  cursor: pointer;
  left:0px;
}

.applyButton {
      position: absolute;
      left: 0px;
      top: 720px;
      height: 40px;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #ff974f;
  font-size: 14px;
  z-index:500;
}


.applyButton:hover {
  background-color: #542200;
}

.applyButton-clicked {
      position: absolute;
      left: 0px;
      top: 720px;
      height: 40px;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #ad3f00;
  font-size: 14px;
  z-index:500;
}

.applyButton-clicked:hover {
  background-color: #542200;
}


.Original:hover, .Filter1:hover, .Filter2:hover, .Filter3:hover {
  opacity:0.5;
  cursor: pointer;
}