.StorePage{
  display: flex;
}

.StorePage-Left{
  flex: 1;
  position: relative;
}

.StorePage-Mid{
  flex: 4;
}

.StorePage-Right{
  flex: 1;
}

.leftViewTab {
  position: relative;
  top: 100px;
  background-color: #FFE3C8;
  height: 3em;
  width: 80%;
}

.leftViewTabStorePage {
  position: relative;
  top: 108px;
  height: 50px;
  max-height: 50px;
  background-color: #FFE3C8;
  margin:0 80px 0 0;
}

.leftViewTab:hover, .leftViewTabStorePage:hover {
  background-color: #FFCE9F;
  cursor: pointer;
}

.leftViewText {
  position: absolute;
  top: 50%;
  line-height: 0;
  left: 0;
  right: 0;
  color: #555;
}

.leftViewTextStorePage {
  display: block;
  text-align: center;
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.ShopTitle{
  font-size: 24px;
  /*padding-top:5px;*/
  padding-bottom: 20px;
}

.Listing{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*
.Listing:after {
  content: "";
  flex: auto;
}
*/
.emptyChild{
  height: 0;
  width: 210px;
}

.ProductDiv{
  cursor: default;

    /*border: 1px solid #999;*/
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-width: 200px;
  width:100%;
  height: 100%;
  padding-left:0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.ProductDiv a:link {
  display: block;
  height: 200px;
  max-height: 200px;
  width:200px;
  max-width: 200px;
  overflow: hidden;
}

.Product {
  flex: 0 0 25%;
  border:none;
  outline: none;
/*  border:1px solid red;*/
  background-color: white;
  overflow: hidden;
  padding: 0px 0px;
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-width: 200px;
}

.ImageGrid {
/*  border:1px solid green;*/
  background: white;
/*  box-sizing: border-box;*/
  margin:0px;
  height:200px;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
  margin:1px;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px 10px 10px 10px;
}

.ImageOverlayStorePage {
  opacity: 0.2;
}

.ImageOverlay{
  position: relative;
  top: -200px;
  height: 200px;
  width: 200px;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0.8;
  background-color: white;
}


.TextOverlayStorePage{
/*  border:1px solid green;*/
  font-size: 16px;
  color: #cc2900;
  position: relative;
  top: -120px;
  height: 50px;
  width: 195px;
  max-width: 195px;
  margin:0px;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}

.TextOverlay{
  font-size: 16px;
  color: #cc2900;
  position: relative;
  top: 80px;
  height: 50px;
  width: 200px;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.StoreLogo{
  height: 100px;
  width: 100px;
}

.Grayscale{
  filter: grayscale(100%);
}

.Brightness{
  filter: brightness(3);
}

.Sepia{
  filter: sepia(100%);
}