.StorePage{
  display: flex;
}

.StorePage-Left{
  flex: 1;
  position: relative;
}

.StorePage-Mid{
  flex: 4;
}

.StorePage-Right{
  flex: 1;
}

.leftViewTab {
  position: relative;
  top: 100px;
  background-color: #FFE3C8;
  height: 3em;
  width: 80%;
}

.leftViewTab:hover {
  background-color: #FFCE9F;
  cursor: pointer;
}

.leftViewText {
  position: absolute;
  top: 50%;
  line-height: 0;
  left: 0;
  right: 0;
  color: #555;
}

.ShopTitle{
  font-size: 24px;
  /*padding-top:5px;*/
  padding-bottom: 20px;
}

.Listing{
  display: flex;
  flex-flow: row wrap;
}

.Product{
  flex: 0 0 25%;
  border: 0px;
  box-sizing: border-box;
  background: white;
  /*border: 1px solid #999;*/
  height: 200px;
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding-left:0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom: 0px;

}

.ImageGrid{
  align: top;
  height:100%;
  width: 100%;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.ImageOverlay{
  position: relative;
  top: -200px;
  height: 200px;
  width: 200px;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0.8;
  background-color: white;
}


.TextOverlay{
  font-size: 16px;
  color: #cc2900;
  position: relative;
  top: 80px;
  height: 50px;
  width: 200px;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.StoreLogo{
  height: 100px;
  width: 100px;
}