.StorePage{
  display: flex;
}

.StorePage-Left{
  flex: 1;
}

.StorePage-Mid{
  flex: 3;
}

.StorePage-Right{
  flex: 1;
}

.ShopTitle{
  font-size: 24px;
}

.Listing{
  display: flex;
  flex-flow: row wrap;
}

.Product{
  flex: 0 0 25%;
  box-sizing: border-box;
  background: white;
  border: 1px solid #999;
  height: 80px;
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}